<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	  xmlns:f="http://xmlns.jcp.org/jsf/core">
	<ui:composition>
		<h:form>
			<table class="form">
				<tr>
					<td><h:outputText value="Item" /></td>
					<td><h:inputText id="item" value="#{shoppingItemController.item}" required="true"
									 requiredMessage=" Please enter an item." autocomplete="off" />
						<h:message id="itemMessage" for="item"></h:message>
					</td>
				</tr>
				<tr>
					<td><h:outputText value="Description" /></td>
					<td><h:inputText id="description" value="#{shoppingItemController.description}" required="true"
									 requiredMessage=" Please enter a description." autocomplete="off" />
						<h:message id="descriptionMessage" for="description"></h:message>
					</td>
				</tr>
				<tr>
					<td><h:outputText value="Price" /></td>
					<td><h:inputText id="price" value="#{shoppingItemController.price}" required="true"
									 requiredMessage=" Please enter the item's price." autocomplete="off"
									 validatorMessage=" Please enter a valid price greater than 0." />
						<h:message id="priceMessage" for="price"></h:message>
					</td>
				</tr>
				<tr>
					<td><h:outputText value="Quantity" /></td>
					<td><h:inputText id="quantity" value="#{shoppingItemController.quantity}" required="true"
									 requiredMessage=" Please enter the item's price." autocomplete="off"
									 validatorMessage=" Please enter a valid quantity greater than 0." />
						<h:message id="quantityMessage" for="quantity"></h:message>
					</td>
				</tr>
				<tr>
					<td></td>
					<td><h:commandButton id="submit" 
										 action="#{shoppingItemController.add}" 
										 value="Submit">
							<f:ajax execute="@form" render="listItems itemMessage descriptionMessage priceMessage quantityMessage" />
						</h:commandButton>
					</td>
				</tr>
			</table>
		</h:form>
	</ui:composition>
</html>