<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<ui:composition>
		<h:head>
			<title>Shopping List</title>
			<!--<h:outputStylesheet library="css" name="style.css" />-->
			<link rel="stylesheet" type="text/css" href="/AIPAssignment3/resources/style.css" />
		</h:head>
	</ui:composition>
</html>

