<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	  xmlns:f="http://xmlns.jcp.org/jsf/core">
	<ui:insert name="head" >
		<ui:include src="head.xhtml" />
	</ui:insert>
	
	<h:body>
		<ui:insert name="pageheader" >
			<ui:include src="pageheader.xhtml" />
		</ui:insert>
    </h:body>
	
	<h2>Producing the shopping list using JavaServer Faces.</h2>
	<p><h:outputText value="There are currently no items in the shopping list." rendered="#{not shoppingListController.hasItems}" /></p>
	
	<h:dataTable id="listItems" var="item" value="#{shoppingListController.items}" rendered="#{shoppingListController.hasItems}">
		<h:column>
			<f:facet name="header">Item</f:facet>
			<h:outputText value="#{item.item}"/>
		</h:column>
		<h:column>
			<f:facet name="header">Description</f:facet>
			<h:outputText value="#{item.description}"/>
		</h:column>
		<h:column>
			<f:facet name="header">Price</f:facet>
			<h:outputText value="#{item.formattedPrice}"/>
		</h:column>
		<h:column>
			<f:facet name="header">Quantity</f:facet>
			<h:outputText value="#{item.description}"/>
		</h:column>
		<h:column>
			<f:facet name="header">Total Price</f:facet>
			<h:outputText value="#{item.formattedTotalPrice}"/>
		</h:column>
	</h:dataTable><br/>
	
	<h:form>
		<p><h:commandLink value="Generate example items" action="#{shoppingListController.setExampleItems}" rendered="#{not shoppingListController.hasItems}" /></p><br/>
		<p><h:commandLink value="#{shoppingListController.formText}" action="#{shoppingListController.invertShowForm}" /></p><br/>
	</h:form>
	
	<h:panelGroup rendered="#{shoppingListController.showForm}">
		<ui:insert name="add">
			<ui:include src="add.xhtml" />
		</ui:insert>
	</h:panelGroup>

</html>