<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition>
		<h:form>
			<h:panelGroup>
				<h:link value="Home" outcome="/index" /> - <h:link value="JSF Home" outcome="/jsf/home" /> - <h:commandLink action="#{shoppingListController.removeAll}" value="Destroy Session" />
				<h1>Shopping List</h1>
			</h:panelGroup>
		</h:form>
	</ui:composition>
</html>