<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<ui:insert name="head" >
        <ui:include src="jsf/head.xhtml" />
    </ui:insert>
    <h:body>
		<h:link value="Home" outcome="/index" />
		<h1>Shopping List</h1>

		<h:panelGroup>
			<h2>How would you like to navigate the system today?</h2>
		</h:panelGroup>
		
		<h:form>
			<h:panelGrid styleClass="displayTable" columns="2">

				<h:panelGroup>
					<h3><h:commandLink action="#{homeController.navigateJSP}" value="JavaServer Pages" /></h3>
					<p>Handwritten inline Java code within JSP files. Stateless. Non-modular.</p>
				</h:panelGroup>

				<h:panelGroup>
					<h3><h:commandLink action="#{homeController.navigateJSF}" value="JavaServer Faces" /></h3>
					<p>Stateful server-generated UI via JSF Framework. EJB. AJAX. Full MVC pattern.</p>
				</h:panelGroup>

			</h:panelGrid>
		</h:form>
		<br/><br/>
		<p>Please note that selecting either of these options will invalidate any existing sessions.</p>
		
    </h:body>
</html>