html, body, div, p, span, h1, h2 {
	margin:0;
	padding:0;
	font-family:Segoe UI, sans-serif;
}

body {
	max-width:960px;
	margin:20px auto;
	border:1px solid gray;
	padding:20px;
	color:#333;
}

h1 {
	font-size:32pt;
	padding:10px 0px;
	font-weight:normal;
}

h2 {
	font-size:16pt;
	padding:6px 0px;
	margin-bottom:4px;
	font-weight:500;
	padding-top: 20px;
}

a {
	transition:border-bottom 0.2s ease;
	color:rgb(22, 122, 198);
	text-decoration:none;
	border-bottom:1px solid transparent;
}

a:hover {
	border-bottom:1px solid rgb(22, 122, 198);
}

select {
	width:179px;
    padding:3px;
}

th {
	text-align:left;
	padding:6px 20px 6px 0px;
}

td {
	padding:6px 20px 6px 0px;
}


.form th, .form td  {
	padding:4px;
	vertical-align:top;
}

.form input {
	padding:3px;
}

.shoppingListTable {
	margin-top:20px
}

.displayTable {
	width:100%;
}

.displayTable td {
	text-align:center;
}

.displayTable p {
	width:60%;
	text-align:center;
	margin:0 auto;
}

.displayTable h3 {
	margin:20px 0px 10px 0px;
	color:rgb(22, 122, 198);
	font-size:24pt;
	font-weight:normal;
}